@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* *{
  margin: 0;
  padding: 0;
} */

/* shared styles */
.display-flex {
  display: flex;
}
.white {
  color: white;
}
.header-bg-color,
footer {
  /* background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  ); */
  background: rgb(34, 34, 34);
}
footer {
  background: rgba(255, 255, 255, 0.1);
}
.main-bg-color {
  background: black;
  margin-top: -34px;
}
.BMI-Section {
  background: rgb(34, 34, 34);
}

.section-description {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}
.btn-primary {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 16px 40px 16px 40px;
  border: none;
  margin-top: 28px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}
.join-now {
  padding: 16px 45px 16px 45px;
}

.section-heading .heading-name {
  font-size: 2.5rem;
  font-weight: 900px;
  padding-top: 60px;
}
.heading-description {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 40px;
}

/* navbar related styles */
.home {
  background: rgb(230, 83, 60);
  border-radius: 46px;
  padding: 8px 20px 8px 20px;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.links {
  list-style: none;
  gap: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
  align-items: center;
  margin: 0px;
}
.brand {
  color: rgb(230, 83, 60);
  font-weight: 800;
  font-size: 2.1rem;
  margin-bottom: 30px;
  margin-top: 40px;
  font-style: italic;
}
.brand-links a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
}
.navbar,
.all-banner {
  max-width: 1060px;
  margin: 0 auto;
}
/* Banner Related Section  */
.banner-info {
  max-width: 520px;
}
.section-header {
  font-size: 4rem;
  font-weight: 900;
  color: white;
  margin-bottom: 30px;
}
.shape {
  font-style: italic;
}
.btn-secondary {
  border-radius: 42px;
  padding: 16px 40px 16px 40px;
  margin-top: 28px;
  margin-left: 20px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border: 2px solid white;
  background: rgb(34, 34, 34);
}
.all-banner {
  justify-content: space-between;
}

/* Banner-Button Related Task */
.ball {
  background-color: red;
  height: 25px;
  width: 25px;
  padding: 5px;
  border-radius: 20px;
}
.button-1 {
  gap: 15px;
  align-items: center;
  align-items: center;
  max-width: 226px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.8);
  margin-left: 800px;
  padding: 0 10px;
  margin-top: 200px;
}
.first-text {
  font-weight: 900;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.second-text {
  color: rgba(255, 255, 255, 0.5);
}

/* Second Section  */
.main-section {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
/* image related task */
.img-section {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.size-img {
  /* border-radius: 90px; */
  border-radius: 50%;
}
.img-description-container {
  max-width: 180px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}
.img-description-container .img-title {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0;
}
/* ---Running the person  */
.main-second-part {
  max-width: 420px;
  margin: 0 auto;
  padding-left: 60px;
  margin-bottom: 25px;

  /* text-align: center; */
}
.run-section-heading {
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
}
.run-heading-description {
  font-size: 0.7rem;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.running-man .running-img {
  max-width: 350px;
  max-height: 320px;
  border-radius: 18px;
  margin-left: 40px;
}
.running-man {
  background: rgb(34, 34, 34);
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  /* justify-content: center; */
  gap: 170px;
  border-radius: 18px;
  margin-top: 70px;
}
/* Meet Our Team  */
.meet-our-team {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}
.meet-our-team .meet-heading {
  font-size: 2.5rem;
  font-weight: 900px;
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
}

.all-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  /* margin: 0px 20px; */
}
.all-images .specific-img {
  /* width: 325px; */
  /* height: 270px; */
  width: 20.2rem;
  height: 17rem;
  border-radius: 18px;
  margin-bottom: 15px;
}
.all-images .specific-img {
}
.all-image-container {
  max-width: 1060px;
  margin: 0 auto;
}
.image-container {
  margin-bottom: 100px;
}
/* All Trainer Name  */
.trainer-name {
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}
.designation {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  margin-bottom: 0px;
}
.image-name-related {
  margin-left: 15px;
  margin-top: -70px;
}
/* Footer Related code */
.footer-section {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;
}
.fitness {
  max-width: 340px;
}
.fitness-heading {
  font-size: 3.5rem;
  color: rgb(230, 83, 60);
  margin: 0;
  font-style: italic;
}
.fitness-description {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}
.fitness-margin {
  margin-top: 50px;
  gap: 200px;
  align-items: center;
  justify-content: center;
}
.get-started-heading {
  font-size: 1.5rem;
  color: white;
}
.items-name {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
.all-items {
  list-style-type: none;
  margin-left: -38px;
}
.get-started-1,
.get-started-2 {
  width: 180px;
  display: flex;
  flex-direction: column;
}
.fitness {
  margin-top: -80px;
}
/* --Horizonal Line-- */
.last-section {
  max-width: 1060px;
  margin: 0 auto;
  text-align: center;
}
.horizontal-line {
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.all-right {
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
}
/* BMI Related Section  */
.table {
  max-width: 310px;
  height: 220px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}
.table-title {
  max-width: 310px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 1.3rem;
}
.table .item {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-align: left;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
}
#item-heading {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
/* Form Related CSS  */
.form-description {
  max-width: 570px;
  margin: 0 auto;
  text-align: left;
}
.bmi-description {
  /* max-width: 570px;
  margin: 0 auto; */
  margin-left: 192px;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.3);
  margin-top: -10px;
}
.BMI-Section {
  margin: 0 auto;
  justify-content: center;
  gap: 220px;
  margin-top: 70px;
}
.bmi-section,
.form {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* For Input Field  */
label {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
input,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 10px;
  border-radius: 10px;
}
select {
  width: 190px;
  color: rgba(255, 255, 255, 0.3);
}
.form-styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 220px;
  margin-top: 30px;
}
.form-btn-primary {
  width: 100px;
  margin-left: 232px;
  margin-top: 30px;
}

/* Responsive Related Task */
@media screen and (max-width: 576px) {
  .all-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 5px;
    align-items: center;
    justify-content: center;
  }
  /* Footer Related Coding  */
  .fitness-margin {
    flex-direction: column;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: -40px;
  }
  .fitness {
    margin-top: 30px;
    margin-left: 100px;
  }
  /* Change Your Habit  */
  .img-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* Running-Man  */
  .running-man {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-right: 45px;
  }
  .join-now {
    padding: 16px 40px 16px 40px;
  }
}
